In [170]:
import pandas as pd

- Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [199]:
columns = ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28')
horse = pd.read_csv('/Users/anastasiafedoracenko/Desktop/horse_data.csv', header = None, names = columns, na_values = '?')
horse.head()

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [200]:
horse.drop(['3', '8', '9', '10', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '24', '25', '26', '27', '28'], axis = 1, inplace = True)

In [201]:
horse.rename(columns = {'1' : 'surgery?', '2' : 'Age', '4' : 'rectal temperature', '5' : 'pulse', '6' : 'respiratory rate', '7' : 'temperature of extremities', '11' : 'pain', '23' : 'outcome'}, inplace = True)
horse.head()
#можно избежать этого действия, если изначально дать правильные наименования столбцам

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

- Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [190]:
horse['surgery?'].value_counts()
#180 лошажей было прооперировано, 119 вылечили без операции и 1 не известно

1.0    180
2.0    119
Name: surgery?, dtype: int64

In [191]:
horse['Age'].value_counts()
# Взрослых лошадей 276, а молодых - 24

1    276
9     24
Name: Age, dtype: int64

In [231]:
horse['Age'].replace( 9, 2, inplace = True)
horse.head()

#заменила значения в столбце Age c 9 на 2

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [217]:
print(horse['rectal temperature'].min())
print(horse['rectal temperature'].max())
print(horse['rectal temperature'].mode()[0])
#минимальная, максимальная и наиболее встречающаяся ректальную температура

35.4
40.8
38.0

In [232]:
q1 = horse['rectal temperature'].quantile(0.25)
q3 = horse['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
horses = horse[horse['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]
horses

#выбросы по ректальной температре, в выбросы в основном попали пустые значения(74)

/var/folders/0l/5d6rpb6j07zbqghq7qmrdvgw0000gn/T/ipykernel_68671/2993403155.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  horses = horse[horse['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [218]:
print(horse['pulse'].min())
print(horse['pulse'].max())
print(horse['pulse'].mode()[0])

##минимальный, максимальный и наиболее встречающийся пульс

30.0
184.0
48.0

In [233]:
q1 = horse['pulse'].quantile(0.25)
q3 = horse['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
horses = horse[horse['pulse'].between(lower_bound, upper_bound, inclusive=True)]
horses

#выбросы по пульсу,не вошло 29 значений

/var/folders/0l/5d6rpb6j07zbqghq7qmrdvgw0000gn/T/ipykernel_68671/2423553435.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  horses = horse[horse['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [220]:
print(horse['respiratory rate'].min())
print(horse['respiratory rate'].max())
print(horse['respiratory rate'].mode()[0])

#минимальная, максимальная и наиболее встречающаяся частота дыхания

8.0
96.0
20.0

In [234]:
q1 = horse['respiratory rate'].quantile(0.25)
q3 = horse['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
horses = horse[horse['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]
horses

#выбросы по частоте дыхания, не вошло 75 значений

/var/folders/0l/5d6rpb6j07zbqghq7qmrdvgw0000gn/T/ipykernel_68671/2592058036.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  horses = horse[horse['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [222]:
print(horse['temperature of extremities'].value_counts())
print(horse['temperature of extremities'].mode()[0])

#чаще всего встречается прохладная температура конечностей

3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64
3.0

In [223]:
print(horse['pain'].value_counts())
print(horse['pain'].mode()[0])

#чаще всего лошади испытывают легкую боль, реже всего встречаются бодры лошади без болей

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64
3.0

In [224]:
print(horse['outcome'].value_counts())
print(horse['outcome'].mode()[0])

#чаще всего лошади выживают, лишь в 44 случаях подвергаются эвтаназии

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64
1.0

- Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [227]:
horse.isna().sum()

#количество пропусков в каждом столбце

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [274]:
for row in data_horse:
    if horse['surgery?'] is None and (horse['pain'] == 4.0 or horse['pain'] == 5.0):
        horse['surgery?'] = horse['surgery?'].fillna('1.0')
    else:
         horse['surgery?'] = horse['surgery?'].fillna('2.0')
        
# если у лошади заметно сильные боли, то с большой вероятности она нуждалась в хирургическом вмешательстве

In [275]:
for row in horse:
    if horse['outcome'] is None and ((horse['pain'] == 4.0 or horse['pain'] == 5.0) and horse['surgery?'] == 2.0):
        horse['outcome'] = horse['outcome'].fillna('2.0')
    elif horse['outcome'] is None and ((horse['pain'] == 4.0 or horse['pain'] == 5.0) and horse['surgery?'] == 1.0):
        horse['outcome'] = horse['outcome'].fillna('3.0')
    else:
         horse['outcome'] = horse['outcome'].fillna('1.0')
        
    
#Если лошадь испытывала сильную боль и не было хирургического вмешательства, то скорее всего лошадь умерла
#Если лошадь испытывала сильную боль с хирургическим вмешательством скорее всего была проведена эвтаназия
#Если у лошади слабые боли или их нет, то с большой вероятность лошадь выжила

In [290]:
for row in horse:
    if horse['pulse'] is None and horse['Age'] == 1.0 and ( 8.0 <= horse['respiratory rate'] <= 10.0):
        horse['pulse'] = horse['pulse'].fillna(random.randint (25.00, 40.00))
    elif horse['pulse'] is None and horse['respiratory rate'] > 11.0 and horse['temperature of extremities'] == 4.0:
        horse['pulse'] = horse['pulse'].fillna(horse['pulse'].max())
    else:
        horse['pulse'] = horse['pulse'].fillna(horse['pulse'].mode()[0])
            

#Если возраст лошади превышает год и частота дыхания не прывышает показатель 8-10, то ее норма пульса 30-40 ударов 
#Учитывая, что возраст беговой лошади начинается с 2х лет, тогда можно предположить, что пульс от 20 ударов норм
#Поэтому ставим рандом от 25 до 40 ударов
#Если лошадь испытывает шок, что характеризуется высокой частатой дыхания и холодными конечностями, тогда
#пульс лошади может быть высоким, предположительно максимально высоким 
#Иначе если все условия не соотвествуют, то отмечаем самый распрастранненный показатель, то есть моду

In [291]:
for row in horse:
    if horse['pain'] is None and horse['surgery?'] == 1.0 and (horse['outcome'] == 2.0 or horse['outcome'] == 3.0):
        horse['pain'] = horse['pain'].fillna('5.0')
    elif horse['pain'] is None and horse['surgery?'] == 2.0 and horse['outcome'] == 2.0:
        horse['pain'] = horse['pain'].fillna('4.0')
    elif horse['pain'] is None and horse['surgery?'] == 2.0 and horse['outcome'] == 1.0 and horse['temperature of extremities '] == 1.0:
        horse['pain'] = horse['pain'].fillna('1.0')
    elif horse['pain'] is None and horse['temperature of extremities'] == 3.0 and horse['outcome'] == 1.0:
        horse['pain'] = horse['pain'].fillna('2.0')    
    elif horse['pain'] is None and horse['surgery?'] == 1.0 and horse['outcome'] == 1.0 and horse['temperature of extremities '] == 3.0:
        horse['pain'] = horse['pain'].fillna('3.0')
    elif horse['pain'] is None and horse['surgery?'] == 1.0 and horse['outcome'] == 3.0 and horse['respiratory rate'] == 4.0:
        horse['pain'] = horse['pain'].fillna('4.0')
    else:
        horse['pain'] = horse['pain'].fillna(horse['pain'].mode()[0])
        
        

#Если у лошади было хирургическое вмешательство и летальный исход или эвтаназия, вероятнее всего, 
#лошадь испытывала сильные непрерывные боли
#Если Лошдь умерла без хирургического вмешательство, скорее всего у нее были переодические сильные боли 
#Если лошадь жива без хирургического вмештельства и у нее нормальной температуры конечности, вероятнее весго она бодра
#Если лошадь жива и у нее прохладные конечности, вероятнеев всего она чувствует себя подалвлено 
#Если лошадь жива, у нее прохладные конечности и было хиругическое вмешательство, скорее всего, у нее слабые боли 
#Если лошадь подвержена эвтаназии и у нее холодные конечности и было хирургическое вмешательство, вероятно
#она испытывала переодические сильные боли 
#Если не одно из условий не подходит, тогда пропуски заполняются самым распрастраненным показателем (модой)

In [292]:
for row in horse:
    if horse['respiratory rate'] is None and horse['pulse'] > 40.0 and (horse['pain'] == 4.0 or horse['pain'] == 5.0):
        horse['respiratory rate'] = horse['respiratory rate'].fillna(horse['respiratory rate'].max())
    elif horse['respiratory rate'] is None and horse['temperature of extremities '] == 4.0 and horse['pulse'] > 11.0:
        horse['respiratory rate'] = horse['respiratory rate'].fillna(random.randint(11,horse['respiratory rate'].max()))
    elif horse['respiratory rate'] is None and 25.0 <= horse['pulse'] <= 40.0 and horse['pain'] == 1.0:
        horse['respiratory rate'] = horse['respiratory rate'].fillna(random.randint(8, 10))
    elif horse['respiratory rate'] is None and horse['temperature of extremities '] == 1.0 and horse['pain'] == 2.0:
        horse['respiratory rate'] = horse['respiratory rate'].fillna(10)
    else:
        horse['respiratory rate'] = horse['respiratory rate'].fillna(horse['respiratory rate'].mode()[0])
        


#Если у лошади высокий пульс и сильная боль, тогда вероятнее всего будет высокая частота дыхания 
#Если у лошади холодные конечности и высокий пульс, вероятнее всего будет повышенная частота дыхания
#Если у лошади нет болей и пульс в норме, то частота дыхания 8-10
#Если у лошади нормальной температуры конечности и подавленные боли, то вероятно частота дыхания 10
#Если не одно из условий не подходит, тогда пропуски заполняются самым распрастраненным показателем (модой)

In [299]:
for row in horse:
    if horse['rectal temperature'] is None and horse['pain'] == 1.0 and horse['outcome'] == 1.0 :
        horse['rectal temperature'] = horse['rectal temperature'].fillna(37.8)
    elif horse['rectal temperature'] is None and horse['pain'] == 5.0 and horse['outcome'] == 2.0 and horse['pulse'] > horse['pulse'].mode()[0]:
        horse['rectal temperature'] = horse['rectal temperature'].fillna(horse['rectal temperature'].max())
    elif horse['rectal temperature'] is None and horse['pain'] == 5.0 and (horse['outcome'] == 2.0 or horse['outcome'] == 3.0) and horse['temperature of extremities '] == 4.0 and horse['pulse'] > horse['pulse'].mode()[0]:
        horse['rectal temperature'] = horse['rectal temperature'].fillna(horse['rectal temperature'].min())
    else:
        horse['rectal temperature'] = horse['rectal temperature'].fillna(horse['rectal temperature'].mode()[0])
    
    
    
    
#Если лошадь бодра, жива и без хирургического вмешательства, то температура норм ( 37.8)
#Если лошадь испытывает непрерывную боль, умерла и имела высокий пульс ( шок), то температура вероятно высока
#Если лошадь испытывает непрерывную боль, имеет высокий пульс, имеет холодные конечности ( шок), умерла или 
#подвержена эвтаназии вероятно температура лошади слишком низка
#Если не одно из условий не подходит, тогда пропуски заполняются самым распрастраненным показателем (модой)

In [301]:
for row in horse:
    if horse['temperature of extremities'] is None and horse['rectal temperature'] > horse['rectal temperature'].mode()[0]:
        horse['temperature of extremities'] = horse['temperature of extremities'].fillna(2.0)
    elif horse['temperature of extremities'] is None and horse['rectal temperature'] == 37.8:
        horse['temperature of extremities'] = horse['temperature of extremities'].fillna(1.0)
    elif horse['temperature of extremities'] is None and (horse['pain'] == 5.0 or horse['pain'] == 4.0) and horse['pulse'].mode()[0] <= horse['pulse'] < horse['pulse'].max():
        horse['temperature of extremities'] = horse['temperature of extremities'].fillna(4.0)
    elif horse['temperature of extremities'] is None and horse['pain'] == 2.0:
        horse['temperature of extremities'] = horse['temperature of extremities'].fillna(3.0)
    else:
        horse['temperature of extremities'] = horse['temperature of extremities'].fillna(horse['temperature of extremities'].mode()[0])
    
        
    
    
#Если ректальная температура высокая, то конечности горячие 
#Если ректальная температура в норме, то температура конечностей в норме
#Если лошадь испытвает шок, сильные боли, частый пульс, то температура конечностей пониженая 
#Если лошадь чувствуют подавленные боли, то конечности прохладные
#Если не одно из условий не подходит, тогда пропуски заполняются самым распрастраненным показателем (модой)

In [302]:
horse.isna().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.0,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,3.0,3.0