In [1]:
import pandas as pd

- Задание 1

Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [102]:
ratings = pd.read_csv('/Users/anastasiafedoracenko/Desktop/Netology/python/ml-latest-small/ratings.csv')
movies = pd.read_csv('/Users/anastasiafedoracenko/Desktop/Netology/python/ml-latest-small/movies.csv')

r = ratings[['movieId', 'rating']]
m = movies[['movieId','title']]

In [105]:
joined = r.merge(m, on='movieId', how='left')
joined[['movieId','rating','title']].head()

   movieId  rating                        title
0        1     4.0             Toy Story (1995)
1        3     4.0      Grumpier Old Men (1995)
2        6     4.0                  Heat (1995)
3       47     5.0  Seven (a.k.a. Se7en) (1995)
4       50     5.0   Usual Suspects, The (1995)

In [109]:
max_ = r['rating'].max()
filtered_joined = joined[(joined ['rating'] == max_)]
data = filtered_joined.groupby(['movieId' , 'title'])['movieId'].count()
data.sort_values(ascending = False).head(1)

movieId  title
318      Shawshank Redemption, The (1994)    153
Name: movieId, dtype: int64

- Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [110]:
power = pd.read_csv('/Users/anastasiafedoracenko/Desktop/Netology/python/10/power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [111]:
summ = 0

data1 = power[(power['year'] >= 2005) & (power['year'] <= 2010) & (power['quantity'] > 0)]
data2 = data1[data1.category.isin([4,12,21])]
summ = data2[data2.country.str.contains('|'.join(['Lat', 'Lit', 'Est']))]['quantity'].sum()
print(f'Cуммарное потребление: {summ}')

Cуммарное потребление: 240580.0

- Задание 3


Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

www.finanz.ru...om-vremeni

In [112]:
data = pd.read_html('https://fortrader.org/quotes')[0]
data.head()

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  82.98      -8.27         -9.06        NaN
1       USDRUB Курс рубля к доллару  78.16      -7.39         -8.64        NaN